{% extends 'base.html.twig' %}

{% block body %}
    <h1>sBlog</h1>
    {% for i in 0..100 %}
       
        <h2>{{ i }} ---- {{ posts[i].title }}</h2>
        <h3>{{ i }} ---- {{ posts[i].lead }}</h3>
        <p>{{ i }} ---- {{ posts[i].content }}</p>
        
        {% endfor %}
{% endblock %}

